.form {
  width: 100%;
  max-width: 375px;

  form {
    width: 100%;
  }
}

.selection {
  button {
    font-size: var(--text-size-static-m);
  }

  .selected {
    border-bottom: var(--border-dark-1);
    color: var(--color-dark);
  }

  .notSelected {
    border-bottom: var(--border-transparent-1);
    color: var(--color-gray);
  }
}
