.form {
  max-width: 375px;

  form {
    width: 100%;
  }
}

.selected {
  border-bottom: 1px solid #333333;
  color: #333333;
}

.notSelected {
  border-bottom: 1px solid transparent;
  color: #bdbdbd;
}
