.group {
  display: flex;
  margin-bottom: 45px;

  button {
    padding-bottom: 6px;
    border-radius: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-right: 40px;
    text-transform: capitalize;
    background: transparent;
    box-shadow: none;

    &:last-child {
      margin: 0;
    }
  }
}

.fullWidth {
  button {
    flex: 1 1;
    margin: 0;
  }
}
