.group {
  display: flex;
  margin-bottom: 45px;

  button {
    padding: 0 0 6px 0;
    border-radius: 0;
    font-weight: var(--text-medium);
    font-size: var(--text-size-m);
    line-height: var(--text-lh-150);
    margin-right: 40px;
    text-transform: capitalize;
    background: transparent;
    box-shadow: none;

    &:last-child {
      margin: 0;
    }
  }
}

.fullWidth {
  button {
    flex: 1 1;
    margin: 0;
  }
}
