.form {
  max-width: 375px;
}

.input {
  margin-bottom: 25px;
}

.forgotPassword {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;

  a {
    text-decoration: none;
    color: #333333;
    cursor: pointer;

    &:hover {
      color: #bdbdbd;
    }
  }
}

.selected {
  border-bottom: 1px solid #333333;
  color: #333333;
}

.notSelected {
  border-bottom: 1px solid transparent;
  color: #bdbdbd;
}
