.container {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 16px;
}

.subtitle {
  margin-bottom: 24px;
  max-width: 300px;
}

.slider {
  width: 840px;
}
