.container {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 34px;
  line-height: 150%;
  margin-bottom: 16px;
  color: #333333;
}

.subtitle {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 24px;
  max-width: 300px;
  color: #bdbdbd;
}

.slider {
  width: 840px;
}
