.input {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 28px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #bdbdbd;
  }
}

/* sizes */
.small {
  height: 36px;
}

.medium {
  height: 48px;
}

.large {
  height: 60px;
}
