.container {
  display: flex;
  align-items: center;
  padding: 36px 0;
}

.item {
  display: flex;

  .link {
    text-decoration: none;
    color: var(--color-gray);
  }

  .icon {
    transform: rotate(180deg);
    margin: 0 5px;
  }

  &:last-child {
    .link {
      color: var(--color-dark);
    }

    .icon {
      path {
        fill: #333333;
      }
    }
  }
}
