.form {
  max-width: 375px;

  form {
    width: 100%;
  }
}

.input {
  margin-bottom: 25px;
}

.forgotPassword {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;

  a {
    text-decoration: none;
    color: var(--color-gray);
    cursor: pointer;

    &:hover {
      color: var(--color-dark);
    }
  }
}

.selected {
  border-bottom: var(--border-dark-1);
  color: var(--color-dark);
}

.notSelected {
  border-bottom: var(--border-transparent-1);
  color: var(--color-gray);
}
