.container {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 25px;

  .wrap {
    display: flex;
    position: relative;
    max-width: 87%;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    .reply {
      position: absolute;
      top: calc(100% / 2 - 18px);
      left: -9%;
    }
  }
}

.hide {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
