.container {
  display: flex;
  height: calc(100vh - 80px);
  padding: 36px 0 80px;

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;

    .title {
      padding-bottom: 10px;
      margin-bottom: 40px;
      border-bottom: var(--border-gray-1);
    }

    .panel {
    }
  }
}
