.page {
  width: 100%;
  min-height: calc(100vh - 80px);
  padding: 36px 0 80px;

  .container {
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;

    .title {
      padding-bottom: 10px;
      border-bottom: var(--border-gray-1);
    }

    .panel {
      margin-top: 40px;
    }
  }
}
