.details {
  .detail {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    .text {
      &:first-child {
        min-width: 96px;
        margin-right: 40px;
      }
    }
  }
}
